
header{ background-color: RoyalBlue; color: white;
    position: sticky;
       top: 0;
    font-family: Proxima Nova
; font-size: 20pt;
    text-align: center;
       padding-top:5px;
       padding-bottom:5px;
      
}

.topnav{ overflow: hidden;
  background-color: RoyalBlue;
    padding-top: 5px ;
    width:100%; color: white;
        margin: 0px;
}

.topnav a{ margin: 10px; text-decoration: none;
  float: left;
  color: white;
  text-align: center;
    font-family: Proxima Nova;
  padding: 20px;
padding-bottom: 5px;
  font-size: 18px;
}

.topnav a:hover{
  background-color: DeepSkyBlue;
  color: black;
}

.topnav a.active{
  background-color: DeepSkyBlue;
  color: black;
}

h1{ margin: 50px 50px;
    padding-top: 20px;
        font-family: Proxima Nova; font-size: 30pt;
}

h2{ margin: 50px 50px; font-family: Proxima Nova; font-size: 28;
  }

h3{ margin: 50px 50px; font-family: Proxima Nova;
    font-size: 20pt;
}

body{ margin: 0;
    font-family: Proxima Nova
    ; font-size: 16pt;
    line-height: 1.5;
    }

p{ margin: 100px;
 }

ul{ margin: 100px}


footer{ position: fixed;
       bottom: 0;
       margin-top: 20px;
    background-color: RoyalBlue;
    color: white;
    font-family: Proxima Nova
    ; font-size: 14pt;
    text-align: center;
    padding: 8pt;
}
