header{ 
    background-color: RoyalBlue; color: white;
    font-family: Proxima Nova
; font-size: 20pt;
    text-align: center;
       position: fixed;
       width: 100%; 
    margin: 0; 
    padding: 0;
   
}

.topnav{ 
  background-color: RoyalBlue;
    padding-top: 30px ;
     color: white;
        width: 100%;
    margin: 0;

}

.topnav a{ margin: 10px; text-decoration: none;
  float: left;
  color: white;
  text-align: center;
    font-family: Proxima Nova;
  padding: 20px;
padding-bottom: 5px;
        
  font-size: 18px;
}

.topnav a:hover{
  background-color: DeepSkyBlue;
  color: black;
}

.topnav a.active{
  background-color: DeepSkyBlue;
  color: black;
}

h1{ 
    padding-top: 20px;
        font-family: Proxima Nova; font-size: 30pt;

}

h2{  font-family: Proxima Nova; font-size: 28;
  }
h3{  font-family: Proxima Nova
    ; font-size: 20pt;
   
}
    

body{ margin: 25px;
    font-family: Proxima Nova
    ; font-size: 16pt;
    line-height: 1.5; }

p{ margin: 50px;}

ul{ margin: 50px}


footer{  position: fixed;
       width: 100%; 
    padding: 0;
       margin-top: 20px;
    
    background-color: RoyalBlue;
    color: white;
    font-family: Proxima Nova
    ; font-size: 14pt;
    text-align: center;
}
