
header{ margin: 0px;
    background-color: RoyalBlue; color: white;
    position: fixed;
    font-family: Proxima Nova
; font-size: 20pt;
    text-align: center;
       padding: 0px; 
       width: 100%;
}

.topnav{ overflow: hidden;
  background-color: RoyalBlue;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px ;
    width:100%; color: white;
        margin: 0px;
}

.topnav a{ margin: 10px; text-decoration: none;
  float: left;
  color: white;
  text-align: center;
    font-family: Proxima Nova;
  padding: 20px;
padding-bottom: 5px;
  font-size: 18px;
}

.topnav a:hover{
  background-color: DeepSkyBlue;
  color: black;
}

.topnav a.active{
  background-color: DeepSkyBlue;
  color: black;
}

h1{ margin: 25px 25px;
    padding-top: 20px;
        font-family: Proxima Nova; font-size: 30pt;
}

h2{ margin: 25px 25px; font-family: Proxima Nova; font-size: 28;
  }

h3{ margin: 25px 25px; font-family: Proxima Nova;
    font-size: 20pt;
}

body{ margin: 25px;
    font-family: Proxima Nova
    ; font-size: 16pt;
    line-height: 1.5;
    }

p{ margin: 50px;}

ul{ margin: 50px}


footer{ margin: -25px;
       margin-top: 20px;
    background-color: RoyalBlue;
    color: white;
    font-family: Proxima Nova
    ; font-size: 14pt;
    text-align: center;
    padding: 8pt;
}
